@import "~bootstrap/scss/bootstrap";

#navbar-menu.active {
    display: block;
}

.form-control::placeholder {
    color: #cccccc;
}

.dark:text-gray-300 {
    font-weight: bold;
}

label {
    font-weight: 600;
}

.navbar-nav .nav-link.active {
    background-color: #e7e7e7;

}

.navbar {
    padding: 0;
}



.navbar-light {
    background-color: #f8f8f8;
}

.nav-link {
    padding-top: 20px;
    padding-bottom: 20px;
}

.page-link.active, .active > .page-link  {
     
        background-color: #268bd0;
    
}
.page-link{
    color:#268bd0;
}
.btn-primary {
    --bs-btn-bg:#268bd0;
    --bs-btn-border-color:#268bd0;
}